html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.toper{
    float: right;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 6px 10px; /* e.g. change 8x to 4px here */
    font-size: medium;
}

.page-item.active .page-link {
    z-index: 3;
    color: black;
    background-color: aqua;
    border-color: #007bff;
}

